@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
}
@layer base {
  body {
    @apply overflow-y-scroll;
  }
}



.animate-blink {
  animation: blink 1s infinite ease-in-out;
}
@media (max-width: 640px) {
  /* your styles here */
    .logo-scale {
    transform: scale(2);
  }
}
@media (max-width: 640px) {
  /* your styles here */
    #text-scale {
    transform: scale(2.9);
    height:'40px'
  }
}

/* nestoric title at footer */
/* Mobile */
@media (max-width: 426px) {
  .hero-title {
    font-size: 2.2rem;
  }
}

/* Tablet */
@media (min-width: 427px) and (max-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }
}

/* Small laptop */
@media (min-width: 769px) and (max-width: 1023px) {
  .hero-title {
    font-size: 5rem;
  }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
  .hero-title {
    font-size: 6rem;
  }
}

/* Large screens */
@media (min-width: 1440px) {
  .hero-title {
    font-size: 9rem;
  }
}

/* Default (Laptop / Desktop) */
.footer-bg {
  background-image: var(--footer-desktop);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mobile image (605x1600) */
@media (max-width: 768px) {
  .footer-bg {
    background-image: var(--footer-mobile);
    background-position: center top;
  }
}



/* gmail scroll */
/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
} */


@layer components {
  /* Base nav link styling */
  .nav-link {
    @apply relative cursor-pointer transition duration-300 text-gray-800;
  }

  /* Hover underline effect */
  .nav-link .underline {
    @apply absolute left-0 -bottom-1 h-[2px] w-0 bg-purple-500 transition-all duration-300;
  }

  .nav-link:hover .underline {
    @apply w-full;
  }

  /* Active link (React Router applies .active) */
  .nav-link.active {
    @apply text-purple-500;
  }

  .nav-link.active .underline {
    @apply w-full;
  }
}